# standard files created by Windows and Mac
Thumbs.db
.DS_Store

# bin directories of our projects
/de.wwu.md2.framework/bin/
/de.wwu.md2.framework.tests/bin/
/de.wwu.md2.framework.ui/bin/

# gen directories of our projects
/de.wwu.md2.framework.tests/src-gen/
/de.wwu.md2.framework.tests/xtend-gen/
/de.wwu.md2.framework.ui/src-gen
/de.wwu.md2.framework/plugin.xml_gen
/de.wwu.md2.framework.ui/plugin.xml_gen

# User specific files and folders of Xcode
project.xcworkspace/
xcuserdata/

# Android Lollipop generator
/de.wwu.md2.framework/res/resources/android/lollipop/*.aar

# Gradle
.gradle/

# Logging
*.log
