<div>
    <div data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="gutters: false, 'class':'formContainer'" data-dojo-attach-point="borderContainer">
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'top', 'class':'formHeader',parseOnLoad:false" data-dojo-attach-point="header"></div>
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'left', 'class':'formLeftSidebar',parseOnLoad:false" data-dojo-attach-point="left"></div>
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'center', 'class':'formBody',parseOnLoad:false" data-dojo-attach-point="body"></div>
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'right', 'class':'formRightSidebar',parseOnLoad:false" data-dojo-attach-point="right"></div>
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'bottom', 'class':'formFooter', parseOnLoad:false" data-dojo-attach-point="footer"></div>
    </div>
</div>