/* default style for testProject
   all widget specific styles are to be found in the according bundle styles
*/

/* TODO move to bundle md2_testwidget */

.md2-wf-navbar {
    border-top: 1px solid;
    padding-top: 10px;
    text-align: right;
}

.md2-spinner-overlay {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.6) url("bundles/md2_testwidget/resources/spinner.gif") no-repeat center center;
    margin-left: -8px;
    margin-top: -10px;
}

.winter .ctDataForm .ctFormControl.gridpanel .cell {
    display: inline-block;
    width: 50%;
    /*min-width: 100px;
    max-width: 400px;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox 28 and earlier*/
    padding: 0 5px 0 0;
    margin: 0;
}

.winter .ctDataForm .ctFormControl.gridpanel .cell.layoutCell {
    vertical-align: top;
}

.winter .ctDataForm .ctFormControl.gridpanel .labelCell {
    float: none;
}

.textoutput {
    cursor: default;
}

.spacerwidget {
    height: 15px;
}

.dijitTextBox {
    width: 100%;
}

.dijitButton,
.dijitButton .dijitButtonNode {
    width:100%;
}

.winter .dijitButton .dijitButtonNode {
    padding: 2px 0 4px;
}
